* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#header {
  padding-top: 30px;
}

img {
  padding-top: 16px;
  padding-bottom: 16px;
}

nav {
  width: 71%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #469165;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 5px;
  text-decoration: none;
  border: 346px;
}

.nav-item {
  text-decoration: none;
  font-size: 16px;
}

.nav-links {
  gap: 30px;
  display: flex;
  list-style: none;
}

.nav-links li {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.text {
  font-size: 72px;
  /* color: #627382; */
}

.nav .logo {
  font-size: 24px;
  font-weight: bold;
  border: 120px, 346px;
}

.hero {
  height: 80vh;
  background-image: url("../images/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.hero-content {
  /* width: 71%; */
  max-width: 1360px;
  padding-top: 70px 120pz 134px 120px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: 20px;
}

.hero-content button {
  border-radius: 15px;
  background-color: #ffffff;
  color: #627382;
  font-size: 14px;
  font-weight: bold;
}

.hero-content p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.6;
  padding-bottom: 20px;
}
.hero-content h1 {
  color: #ffffff;
  font-size: 700;
  line-height: 1.2;
}

.hero-content h1 span {
  color: #30b868;
}

.hero-items .hero-button {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
}

.hero-items .hero-button .primary {
  background-color: #469165;
  /* padding: 12px 16px; */
  border-radius: 4px;
  color: #ffffff;
  margin-right: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hero-items .hero-button .secondary {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ffffff;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.hero-content .hero-button .secondary {
  background: transparent;
  color: #ffffff;
  border: 1px, solid;

}

.notes-content h1 {
  font-size: 34px;
  font-weight: 600px;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 132px;
  justify-content: center;
}

.notes-content p {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px 100px 40px 100px;
  gap: 16px;
}

.notes-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 80px 0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.notes-box img {
  width: 40px;
  display: block;
  height: auto;
  background-color: #f95555;
  margin-top: 40px;
  border-bottom: 10px;
}

.notes-box h2 {
  font-size: 26px;
  font-weight: bolder;
  color: #001931;
}

.notes-box p {
  color: #627382;
  font-size: 20px;
  opacity: 0.9;
  padding-left: 5px;
  padding-right: 20px;
}

.brain-content {
  padding: 102px 80px 102px 100px;
  align-content: center;
  max-width: 700px;
}

.brain-content h4{
  color:#469165;
  line-height:20px;
  margin-bottom: 16px;
}

.brain-content h1{
  color:#001931;
  font: size 40px;
  margin-bottom:10px;
}

.brain-content p{
  color:#627382;
  line-height:20px;
  text-align: justify;
}


.brain-image {
  padding: 20px 100px 120px 120px;
  padding-left: 20px;
  padding-right: 20px;
  width:600px;
  height: 600px;
}

.icon-text {
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 6px;
  padding: 0;
}

.icon-text li {
  display: flex;
  flex-direction: row;
  gap: 8px;
  line-height: 1.25;
 
}

.icon-text li span {
  display: flex;
  align-items: center;
  
}

.brain {
  display: flex;
  padding: 0 120px 0 120px;
  max-width: 1360px;
}

.think-info {
  width: 100%;
  justify-content: center;
  padding: 80px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.think-box {
  width: 100%;
  max-width: 1360px;
  padding: 60px 40px;
  text-align: center;
  border-radius: 12px;
  background-color: #f7f6f2;
}


.think-box p{
  font-size: 16px;
  line-height: 20px;
  color:#627382;
  margin-bottom: 18px;
  margin-top: 10px;
}

.think-box button{
  font-size: 14px;
  font-weight: semi-bold;
  margin: 0;
}

.think-box h5{
  color: #627382;
  line-height: 20px;
  margin-top:10px; 
  opacity: 0.6;
}

.links {
  background-color: #f7f6f2;
  text-shadow: #001931;
}

.footer {
  background-color: #001931;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  width:100%;
  height: 340px;;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 78px;
  margin-left: 120px;
}


.footer-social{
  margin-right: 150px;
  margin-top: 50px;
}


.footer-social p {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight:bold;
}

.icons a {
  margin-left: 10px;
}

footer-social.icons img {
  color:#ffffff;
  width: 20px;
}

hr {
  border: none;
  border-top: 1px solid #1e293b;
  margin: 20px 0;
}

.copyright {
  text-align: center;
  font-size: 13px;
  color: #cbd5e1;
  margin-top: 6cqi;
  margin-bottom: 30px;

}
