*{
margin:0;
padding:0;
box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#header{
  padding-top: 30px;
}
nav{
  width: 71%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

button{
  background-color: #469165;
  color:#FFFFFF;
  font-size: 12px;
  font-weight:bold;
  padding:10px 18px;
  border-radius: 5px;
  text-decoration: none;
  border:346px;
}

 .nav-links{
  gap:30px;
  display: flex;
  list-style: none;
 
}

.nav-links li{
  text-decoration:none;
  font-size: 13px;
}

 .nav .logo{
 font-size: 24px;
 font-weight: bold;
 border:120px, 346px;

}

.hero{
  height:80vh;
  background-image: url("../images/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.hero-content{
  width: 71%;
  max-width: 1360px;
  padding-top: 70px 120pz 134px 120px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: 20px ;
}

.hero-content button{
  border-radius: 15px;
  background-color: #FFFFFF;
  color:#627382 ;
  font-size: 14px;
  font-weight: bold;
}



.hero-content p{

  font-size: 14px;
  color: white;
  opacity:0.6;
  padding-bottom:20px;
}
.hero-content h1{
  color: #FFFFFF;
  font-size: 700;
  line-height: 1.2;
 
}

.hero-content h1 span{
  color:#30B868
}

.hero-items .hero-button .primary{
  background-color: #469165;
  color: #FFFFFF;
  margin-right: 5px;
  border: none;
}

.hero-button primary::after{
  content:url("../images/assets/ArrowRight.png")
}

 .hero-content .hero-button .secondary{
  background: transparent;
  color:#FFFFFF;
  border: 1px, solid;
  font-weight: 600px;
}


 

.notes-content h1{
 font-size: 24px;
 text-align: center;
 justify-content: center;
 margin-bottom: 10px;
 margin-top: 132px;
 justify-content: center;
}

.notes-content p{
 font-size: 14px;
 margin-top:  16px;
 text-align: center;
 justify-content: center;
}

.box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px 100px 40px 100px;
  gap:16px;
  
}

.notes-box{
  display: flex;
  flex-direction: column;
  gap:20px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding:60px 0 80px 0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);

  
  

}

.notes-box img{
 width:40px;
 display:block;
 height:auto;
 background-color:#F95555 ;
 margin-top: 40px;
 border-bottom: 10px;
 
 
}

.notes-box h2{
  font-size: 18px;
  font-weight: semi-bold;
  color:#001931;
}

.notes-box p{
  color:#627382;
  font-size: 16px;
  opacity: 0.9;
  padding-left: 5px;
  padding-right: 20px;

}

.brain-content{
  padding:102px 120px 102px 60px;
  align-content: center;
}

.brain-image{
  padding: 120px 60px 120px 120px;
}

.icon-text{
  display:inline-flex;
  list-style: none;
  align-items: center;
  gap:8px;
  margin-bottom: 12px;
  padding:0;
}

.icon-text li{
  align-items: flex-start;
  position: relative;
  padding-left:28px;
}

.brain{
  display: flex;
}

.think-info{
  width:100%;
  justify-content: center;
  padding:80px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.think-box{
  width:100%;
  max-width: 900px;;
  padding: 60px 40px;
  text-align: center;
  border-radius: 12px;
  background-color: #F7F6F2; 
 
}

.links{
  background-color: #F7F6F2;
  text-shadow: #001931;
}

.footer{
  display: flex;
}

